.logo {
  color: red;
  font-weight: bold;
}

.spacer {
  padding-top: 80px;
  padding-bottom: 40px;
}

.map-container{
overflow:hidden;
padding-bottom:0%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/* not active */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: rgba(0, 0, 0, 0);
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(0, 0, 0, 0);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgba(0, 0, 0, 0);
}


/* active */
.nav-pills .pill-1 .nav-link {
    background-color: rgba(0, 102, 153, 1);
}

.nav-pills .pill-2 .nav-link {
    background-color: rgba(0, 102, 153, 1);
}

.nav-pills .pill-3 .nav-link {
    background-color: rgba(0, 102, 153, 1);
}
