$inactive_pill_color: rgba(0, 0, 0, 0);
$active_pill_color: rgba(0, 102, 153, 1);

body {
  background-color: #a6a6a6;
}

footer {
  background-color: #808080;
  color: #d9d9d9;
  text-align: center;
  margin-top: 10px;
  padding: 10px;

}

.logo_text {
  color: red;
  font-weight: bold;
}

::selection {
    color: white;
    background-color: #e04522;
}

.spacer {
  padding-top: 80px;
  padding-bottom: 40px;
}

@media (max-width: 767.98px) {
    ul {
        padding-left: 20px;
    }
}

/*
@media (min-width: 768px) {
    .width-md {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}
*/

.map-container{
  overflow:hidden;
  padding-bottom:0%;
  position:relative;
  height: calc(100vh - 270px);

  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}


/* inactive nav-pills */
.nav-pills .pill-1 .nav-link:not(.active) {
    background-color: $inactive_pill_color;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: $inactive_pill_color;
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: $inactive_pill_color;
}


/* active nav-pills */
.nav-pills .pill-1 .nav-link {
    background-color: $active_pill_color;
}

.nav-pills .pill-2 .nav-link {
    background-color: $active_pill_color;
}

.nav-pills .pill-3 .nav-link {
    background-color: $active_pill_color;
}
